@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Limelight&family=Linden+Hill:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Licorice&family=Limelight&family=Linden+Hill:ital@0;1&display=swap');


// Products.module.scss

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  
    // Loading and Error states
    & > div {
      font-size: 1.2rem;
      color: #333;
      margin: 20px;
    }
  }
  
  .product {
    width: 250px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.02);
    }
  
    h2 {
      font-size: 1.4rem;
      color: #333;
      margin: 10px 0;
    }
  
    p {
      font-size: 1rem;
      color: #666;
      margin: 8px 0;
  
      &:first-of-type {
        font-weight: bold;
        color: #2e7d32;
      }
    }
  
    button {
      padding: 8px 16px;
      font-size: 1rem;
      color: #1f1f11;
      border: 2px solid #1f1f11;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
  
      &:hover {
        background-color: #30c61fe9;
      }
    }
  }
  
  .productImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
    object-fit: cover;
  }
  