@use '../Main//Main.module.scss' as V; 
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Limelight&family=Linden+Hill:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Licorice&family=Limelight&family=Linden+Hill:ital@0;1&display=swap');

//Header image
header {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    
    h1 {
        font-family: "Licorice", serif;
        font-weight: 100;
        position: absolute;
        text-align: center;
        font-size: clamp(2rem, 5vw, 5rem); 
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
        color: #ffffff;
        width: 100%;
        padding: 0 clamp(1rem, 2vw, 2rem); 
    }
    
    img {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        filter: opacity(89%);
    }
}

//Navbar
nav {
    background-color: V.$night;
    // margin: -1rem;
    padding: 1rem;
    
    ul {
        display: flex;
        gap: 1rem; 
        text-decoration: none;
        justify-content: flex-end;
        color: V.$heaven;
        padding: 1rem;
        img {
         filter: invert(100);
         &:hover {
            background-color: rgb(179, 7, 4);
            transition: 600ms;
            border-radius: 1rem;
         }
        }
        
    }
}




