@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Limelight&family=Linden+Hill:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Licorice&family=Limelight&family=Linden+Hill:ital@0;1&display=swap');


//Colors
$shadow: #1E1E1E;
$heaven: #EFEFEF;
$night: #111111;
$choco: #4F2919;
$almond: #B46538; 
$brownie: #7A4C20; 

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body {
    background-color: $heaven;
    p{
        font-size: 1.1rem;
    }
}
//Three images and texts
.TextAndImages {
  display: grid;
  gap: 1rem;
  margin: 0;
  padding: 0;
    figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            padding: 1rem;
            font-family: "Licorice", serif;
            text-align: center;
            font-weight: 400;
            font-size: 3.5rem;

        }
        p {
            flex: 1;
            padding: 1rem;
            font-family: "Inika", serif;

        } 
        img {
            display: block;
            border-radius: 10px;
            width: 100%;
            // height: 100%;
        }
    }
   
}

//Shop button
.ShopNow {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
    
    article {
        max-width: 800px;
        text-align: center;
        h2 {
            font-family: "Licorice", serif;
            font-size: 5rem;
            font-weight: 400;
        } 
        p {
            font-family: "Inika", serif;
        }
        button {
            background-color: $shadow;
            color: #FFFFFF;
            width: 211px;
            padding: 1rem;
            margin: 1rem;
            border-radius: 8px;
            justify-content: center;

            &:hover {
                cursor: pointer;
                filter: brightness(150%);
            }
        }
    }
}

//Testimonies
.Testimonies {
    padding: 1rem;
    h2 {
        display: flex;
        justify-content: center;
        font-family: "Licorice", serif;
        font-size: 5rem;
        font-weight: 400;
    }
    > div{
        display: grid;
        gap: 2rem;
        max-width: 900px;
        margin: auto;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}








//____________________________________________________

// MEDIA QUERIES
@media (min-width: 900px){
    .Testimonies > div{
        grid-template-columns: repeat(3, 1fr);
    }
}
// OVER 1200PX
@media (min-width: 1200px) {

    .TextAndImages {
       grid-template-columns: repeat(3, 1fr);
    }


}
